*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-style: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header{
    background: url('../img/homepage.png') center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-light{
    background-color: #b17d2f00!important;

}
.navbar-brand{

padding-top: 65px;

}

.navbar-nav{

padding-top: 65px;

margin-left: 270px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fdfdfd;
    font-size: 20px;
    padding: 18px 65px 0px 0px;
    
}

.banner-contant{

width: 55%;

color: white;
}

.banner-contant p{font-size: 15px;width: 85%;display: inline-block;padding-top: 30px;}


.phone-number{

font-size: 44px;

background-color: #221d1d87;

margin-top: 142px;

display: inline-block;

padding: 20px 60px 20px 50px;
}

.btn-box{

padding-top: 88px;

padding-bottom: 150px;
}

.btn-banner{

color: white;

border: 2px solid #fff;

padding: 25px 105px;

font-weight: 500;

text-transform: uppercase;

border-radius: 5px;

margin-bottom: 100px;

text-decoration: none;

transition: .6s;
}

.car-section{

padding-top: 220px;

padding-bottom: 105px;

background: #f6f6f6;
}

.car-section h2{

font-weight: 600;

font-size: 39px;
}

.car-section span{

display: inline-block;

background: black;

height: 2px;

width: 20px;

margin-bottom: 50px;

margin-top: 30px;
}




.black-car-section{

padding-top: 220px;

padding-bottom: 105px;

background: #28282e;

color: white;
}

.black-car-section h2{

font-weight: 600;

font-size: 39px;

color: white;
}

.black-car-section span{

display: inline-block;

background: white;

height: 2px;

width: 20px;

margin-bottom: 50px;

margin-top: 30px;
}

footer{
    background-color: #ee493f;
    padding: 40px 0px;

}

footer span{

    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 500;

}

.btn-last{

    padding-top: 75px;

    padding-bottom: 145px;


}

.btn-banner-one{

    color: white;

border: 2px solid #fff;

padding: 25px;

font-weight: 500;

text-transform: uppercase;

border-radius: 5px;


text-decoration: none;

transition: .6s;


}

.banner-contant span{

display: inline-block;

background: white;

height: 2px;

width: 20px;

margin-top: 30px;
}

@media (min-width:0) and (max-width:1200px){
   
    }